@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");

* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

.container {
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 1140px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.mt-100 {
  margin-top: 100px;
}

/*! --------------| Testimonial |--------- */

.flex-center {
  display: flex;
  /* flex-wrap: wrap; */
  width: 100%;
  margin-right: -15px;
  margin-left: -15px;
}
.testimonial_col-1 {
  position: relative;
  flex: 0 0 50%;
  max-width: 50%;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

.testimonial_thumbnail {
  position: relative;
  padding-right: 3rem;
  margin-bottom: 100px;
}
.testimonial_thumbnail > img {
  max-width: 100%;
  border-radius: 6px;
  width: 100%;
}

.testimonial_col-2 {
  position: relative;
  max-width: 50%;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}
.testimonial_heading {
  max-width: 100%;
  width: 100%;
  position: relative;
  margin-bottom: 50px;
}
.testimonial_heading > h6 {
  text-transform: uppercase;
  color: #1cc3b2;
  letter-spacing: 2px;
  display: block;
  line-height: 1.3;
  font-weight: 500;
  font-size: 1rem;
  margin-bottom: 10px;
}
.testimonial_heading > h2 {
  font-size: 42px;
  text-transform: capitalize;
  margin-bottom: 0;
  display: block;
  line-height: 1.2;
  color: #2a303b;
  font-weight: 500;
}
.testimonial_content {
  max-width: 100%;
  width: 100%;
  margin-bottom: 100px;
}
.testimonial_content p {
  line-height: 1.7;
  color: #636a76;
  font-size: 16px;
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 1rem;
}
.testimonial_content img {
  max-width: 100%;
  height: auto;
  margin-top: 20px;
}

/*! --------------| Hotel Parallax |--------- */

.hotelParallax {
  position: relative;
  width: 100%;
  margin-bottom: 100px;
  
}
.hotelParallax_flex {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 150px;
  padding-bottom: 142px;
}
.hotelParallax_content {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  
}
.hotelParallax_content > h6 {
  color: #ffffff;
  font-size: 1rem;
  display: block;
  line-height: 1.3;
  font-weight: 500;
  letter-spacing: 2px;
  display: block;
  margin-bottom: 10px;
}
.hotelParallax_content > h2 {
  color: #fff;
  font-size: 48px;
  display: block;
  line-height: 1.2;
  font-weight: 500;
}
.hotelParallax_video-btn{
  position: relative;
  margin-top: 100px;
}
.hotelParallax_video-btn > a{
  display: inline-block;
  width: 70px;
  height: 70px;
  background-color: #ffffff;
  color: #1cc3b2;
  font-size: 18px;
  text-decoration: none;
  text-align: center;
  line-height: 70px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -35px;
  margin-left: -35px;
  z-index: 100;
  transition-duration: 500ms;
  outline: none;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
}
.parallax{
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  overflow: hidden;
  pointer-events: none;
  z-index: -100;
  /* clip: rect(0, 1903px, 300px, 0); */
  clip: rect(0, 1519.2000732421875px, 481.20001220703125px, 0);
}
.parallax-img{
  height: 100%;
  z-index: -99;
  background-image: url("../Resources/About Us/images/3.webp");
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 618.5px;
  overflow: hidden;
  pointer-events: none;
  margin-top: 420.25px;
  transform: translate3d(0px, -70.25px, 0px);
  transition-duration: 0ms;
}
.parallaxOverlay{
  height: 100%;
  max-width: 100%;
  width: 100%;
  z-index: -97;
  background-color: rgba(14, 39, 55, 0.7);

}
/*! --------------| Hotel Features |--------- */

.hotel-features{
  position: relative;
  width: 100%;
}
.hotel-features_heading{
  position: relative;
  width: 100%;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.hotel-features_heading > h6{
  color: #1cc3b2;
  font-size: 1rem;
  display: block;
  line-height: 1.3;
  font-weight: 500;
  letter-spacing: 2px;
  display: block;
  margin-bottom: 10px;
}
.hotel-features_heading > h2{
  color: #2a303b;
  font-size: 48px;
  display: block;
  line-height: 1.2;
  font-weight: 500;
}

.feature-thumbnail{
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  max-width: 100%;
}
.fetaure-thumbnail__box{
  position: relative;
  flex: 0 0 33.33%;
  max-width: 33.33%;
  width: 100%;
  margin-bottom: 100px;
}
.fetaure-thumbnail__box:hover .thumbnail__box-content{
  background-color: rgba(42, 48, 59, 1);

}
.thumbnail__box-img{
  position: relative;
  z-index: 1;
  background-color: #ffffff;
  border-radius: 3px;
  margin-right: 15px;
  margin-left: 15px;
}
.thumbnail__box-img > img{
  max-width: 100%;
}
.thumbnail__box-content{
  transition-duration: 500ms;
  position: absolute;
  width: 100%;
  background-color: rgba(42, 48, 59, 0.5);
  left: 0;
  bottom: 5px;
  height: 80px;
  text-align: center;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}
.thumbnail__box-content > h5{
  line-height: 1.3;
    font-weight: 500;
  margin-bottom: 0;
  font-size: 22px;
  color: #ffffff;
}

.contactUs-Parallax {
  margin-top: 1000.25px;
}

/*!---------------------------| Media Queries Section |-----------------------------------------------*/


@media screen and (max-width: 1200px) {
  .container {
    max-width: 960px;
  }
  .testimonial_heading > h2 {
    font-size: 36px;
  }
  .hotelParallax_content > h2, .hotel-features_heading > h2{
    font-size: 36px;
  }
  .hotelParallax_flex{
    padding-bottom: 157px;
  }
}

@media screen and (max-width: 992px) {
  .container {
    max-width: 720px;
  }
  .flex-center{
    flex-wrap: wrap;
  }
  .testimonial_col-1, .testimonial_col-2{
    flex: 0 0 100%;
  max-width: 100%;
  }
  .testimonial_heading > h2 {
    font-size: 30px;
  }
  .hotelParallax_content > h2, .hotel-features_heading > h2{
    font-size: 30px;
  }
  .hotelParallax_flex{
    padding-bottom: 165px;
  }
  .parallax-img{
    margin-top: 650px;
  }
  .fetaure-thumbnail__box{
    flex: 0 0 50%;
  max-width: 50%;
  }
  .contactUs-Parallax {
    margin-top: 1350.25px;
  }
}
@media screen and (max-width: 768px) {
  .container {
    max-width: 540px;
  }
  .testimonial_heading > h2 {
    font-size: 24px;
  }
  .hotelParallax_content > h2, .hotel-features_heading > h2{
    font-size: 24px;
  }
  .fetaure-thumbnail__box{
    flex: 0 0 100%;
  max-width: 100%;
  }
  .hotelParallax_video-btn > a{
    width: 60px;
    height: 60px;
    font-size: 23px;
  }
  .hotelParallax_flex{
    padding-bottom: 171px;
  }
  .contactUs-Parallax {
    margin-top: 1750.25px;
  }
}
@media screen and (max-width: 576px) {
    .container{
        min-width: 100%;
    }
    .contactUs-Parallax {
      margin-top: 1850.25px;
    }
}
