@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
}
.container {
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 1140px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.cont-inner {
  margin-top: 100px;
  position: relative;
  top: 0;
  width: 100%;
  background-image: url("/Resources/Footer/1.webp");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  pointer-events: none;
  z-index: -10;
}
.cont-overlay {
  background-color: rgba(14, 39, 55, 0.7);
}
.flex-cont {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding: 50px 40px 0 40px;
}
.flex-cont > .col-1 {
  flex: 0 0 60%;
  width: 100%;
}
.col-1 > .text {
  margin-bottom: 50px;
}
.col-1 > .text > h2 {
  color: #ffffff;
  font-size: 36px;
  margin-bottom: 10px;
  line-height: 1.3;
  font-weight: 500;
}
.col-1 > .text > h6 {
  margin-bottom: 0;
  color: #ffffff;
  line-height: 1.3;
  font-weight: 500;
  font-size: 1rem;
}
.flex-cont > .col-2 {
  position: relative;
  display: flex;
  justify-content: flex-end;
  flex: 0 0 40%;
  width: 100%;
}
.col-2 > .contact-btn {
  margin: 20px 0;
  z-index: inherit;
  display: inline-block;
  min-width: 150px;
  height: 46px;
  font-size: 16px;
  font-weight: 500;
  padding: 12px 40px;
  background-color: #1cc3b2;
  color: #ffffff;
  border-radius: 2px;
  border: none;
  outline: none;
  text-decoration: none;
}
.cont_inner {
  padding: 40px 0;
}
.logo-pannel {
  position: relative;
  display: flex;
  width: 100%;
  justify-content: space-between;
  z-index: 1;
}
.logo-pannel > img {
  max-height: 50px;
}
.footer-pannel {
  position: relative;
  z-index: 1;
  width: 100%;
  /* height: 200px; */
  background-color: #0e2737;
}
.footer-inner {
  position: relative;
  z-index: 1;
  width: 100%;
  padding-top: 80px;
  display: flex;
  flex-wrap: wrap;
}
.contact-details {
  flex: 0 0 25%;
  max-width: 25%;
  margin-bottom: 80px;
  /* padding-right: 15px;
  padding-left: 15px; */
}
.roberto__logo {
  display: block;
  max-width: 100%;
  height: auto;
  margin-bottom: 20px;
}
.contact-details > h4 {
  color: #1cc3b2;
  line-height: 1.3;
  font-weight: 500;
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}
.contact-details > span {
  color: #afb4bf;
  font-size: 14px;
  display: block;
  margin-bottom: 10px;
}
.blog-details {
  flex: 0 0 25%;
  max-width: 25%;
  margin-bottom: 80px;
  /* padding-right: 15px;
  padding-left: 15px; */
}
.blog_title > h5,
.links > h5,
.subscribe > h5 {
  font-size: 22px;
  color: #ffffff;
  margin-bottom: 25px;
  display: block;
  text-transform: capitalize;
  line-height: 1.3;
  font-weight: 500;
}
.latest-blog {
  position: relative;
  z-index: 1;
  margin-bottom: 25px;
}
.latest-blog > a {
  font-size: 16px;
  display: block;
  margin-bottom: 5px;
  color: #ffffff;
  font-weight: 400;
  text-decoration: none;
}
.latest-blog > span {
  color: #afb4bf;
  font-size: 14px;
  display: block;
}
.links {
  flex: 0 0 16.6666%;
  max-width: 16.6666%;
  margin-bottom: 80px;
  padding-left: 15px;
  padding-right: 15px;
}
.links > h5 {
  margin-bottom: 25px;
}
.footer-links {
  position: relative;
  z-index: 1;
}
.footer-links > li {
  list-style-type: none;
}
.footer-links > li > a {
  display: block;
  margin-bottom: 10px;
  color: #636a76;
  font-size: 14px;
  font-weight: 400;
  text-decoration: none;
  text-transform: capitalize;
}
.subscribe {
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
  margin-bottom: 80px;
}
.subscribe > span {
  color: #afb4bf;
  font-size: 14px;
  display: block;
  margin-bottom: 10px;
}
.form-email {
  position: relative;
  z-index: 1;
  margin-top: 30px;
}
.form-email > input {
  width: 100%;
  height: 46px;
  display: block;
  font-weight: 400;
  line-height: 1.5;
  background-color: #3e525f;
  border-radius: 30px;
  border: none;
  outline: none;
  padding: 0 20px;
  color: #ffffff;
  font-size: 14px;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.form-email > button {
  position: absolute;
  width: 40px;
  height: 40px;
  border: none;
  outline: none;
  top: 3px;
  right: 3px;
  border-radius: 50%;
  color: #ffffff;
  background-color: #1cc3b2;
  cursor: pointer;
}

/* copyright details */

.copyright-details {
  position: relative;
  z-index: 1;
  padding: 15px 0;
  border-top: 1px solid #273d4b;
}
.copyright_inner {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.copyright-content {
  flex: 0 0 66.666667%;
  max-width: 66.666667%;
}
.content_inner {
  position: relative;
  z-index: 1;
}
.content_inner > p {
  font-size: 14px;
  color: #afb4bf;
  margin-bottom: 0;
}
.Designer {
  font-size: 14px;
  color: #afb4bf;
  margin-bottom: 0;
  text-decoration: none;
}

.copyright-logo {
  flex: 0 0 33.333%;
  max-width: 33.333%;
  display: flex;
  justify-content: flex-end;
}
.copyright-logo > a {
  display: inline-block;
  color: #afb4bf;
  padding-left: 20px;
  transition-duration: 500ms;
  outline: none;
  font-weight: 500;
}

/* !------------------------| Media Query Section |--------------------------- */

@media screen and (max-width: 1200px) {
  .container {
    max-width: 960px;
  }
  .blog_title > h5,
  .links > h5,
  .subscribe > h5 {
    font-size: 18px;
  }
  .blog-details {
    padding-right: 15px;
    padding-left: 15px;
  }
}

@media screen and (max-width: 992px) {
  .container {
    max-width: 720px;
  }
  .contact-details, .blog-details{
    flex: 0 0 50%;
    max-width: 50%;
  }
  .links{
    flex: 0 0 33.3333%;
    max-width: 33.3333%;
  }
  .subscribe {
    flex: 0 0 66.6666%;
    max-width: 66.6666%;
  }
}
@media screen and (max-width: 768px) {
  .container {
    max-width: 540px;
  }
  .flex-cont{
      flex-direction: column;

  }
  .flex-cont > .col-1{
      flex: 0 0 100%;
  }
  .flex-cont > .col-2 {
    flex: 0 0 100%;
  }
  .logo-pannel > img{
      max-height: 30px;
  }

  .contact-details, .blog-details, .links, .subscribe{
    flex: 0 0 100%;
    max-width: 100%;
  }
  .copyright-content,  .copyright-logo{
    flex: 0 0 100%;
    max-width: 100%;
  }
  .copyright-logo{
      justify-content: center;
  }
  .content_inner > p {
      font-size: 13px;
  }
}
