@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
body {
  cursor: auto;
  background: pink;
  scroll-behavior: smooth;
}
.container {
  width: 100%;
  height: 100%;
  max-width: 1140px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  /* outline: 1px solid white; */
}

/*! -------------------search-pannel */
.search-pannel {
  position: relative;
  width: 100%;
  height: 0px;
  display: flex;
  justify-content: center;
  background: #1cc3b2;
  align-items: center;
  z-index: 99999999999;
  transition-duration: 500ms;
}
.search-pannel-active {
  height: 80px;
}
.search-pannel.search-pannel-active > .container {
  opacity: 1;
  transition-duration: 200ms;

  /* background: black; */
}
.search-pannel > .container {
  /* position: absolute; */
  display: flex;
  justify-content: space-between;
  text-align: center;
  opacity: 0;
  transition-duration: 200ms;
}
.search-pannel > .container > input {
  width: 95%;
  display: inline;
  height: inherit;
  background: none;
  outline: none;
  border: none;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.2px;
}

.search-pannel-icon {
  margin-top: 20px;
  width: 40px;
  height: 40px;
  transform: rotateY(180deg);
  font-size: 22px;
  color: white;
  display: inline-block;
  cursor: pointer;
  background: none;
  border: none;
  transition-duration: 200ms;

}
.search-pannel-icon > .fa{
  
}
/*! -------------------info-pannel */
.info-pannel {
  width: 100%;
  height: 50px;
  background: #0e2737;
}
.info-pannel > .container {
  width: 100%;
  height: 100%;
  /* outline: 2px solid rgb(236, 227, 227); */
}
.inner-info-pannel {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/*! -------------------info-Col-1 */
.info-col-1 {
  display: flex;
  justify-content: flex-start;
}
.info-col-1 > .contact,
.info-col-1 > .email {
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  line-height: 50px;
  margin-right: 50px;
  transition-duration: 300ms;
  cursor: pointer;
}
.info-col-1 > .contact > i {
  font-size: 17px;
}
.info-col-1 > .contact > i,
.info-col-1 > .email > i {
  color: #1cc3b2;
  padding-right: 5px;
}
/*? --------------hover */
.info-col-1 > .contact:hover,
.info-col-1 > .email:hover {
  color: hsl(219, 0%, 70%);
}
/*! -------------------info Col-2 */
.info-col-2 {
  color: #ffffff;
  /* margin: 0 ; */
}
.info-col-2 i {
  margin-left: 30px;
  transition-duration: 300ms;
  cursor: pointer;
}

.info-col-2 i:hover {
  color: #1cc3b2;
}
/* ---------------------Mobile Nav Pannel */
.mobile-nav-pannel{
  display: none;
}
/*! -------------------Nav Bar */
.nav-pannel {
  width: 100%;
  height: 80px;
  background: #fff;
  /* outline: 2px solid red; */
  display: flex;
  justify-content: center;
}
/* .nav-pannel > .container {
  outline: 2px solid black;
} */
.nav-pannel > .container > .nav-inner {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.hamburger {
  display: none;
}
/*? -------------------------roberto logo */
.roberto-logo {
  display: flex;
}
/*? -----------------------------nav-content-box */
.nav-content-box {
  display: flex;
  justify-content: center;
  align-items: center;
}
.cross-icon {
  outline: none;
  border: none;
  display: none;
}
/*? -----------------------------nav-list */

.nav-content-box > .nav-list {
  height: 40px;
  display: flex;
  align-items: center;
  list-style-type: none;
  /* outline: 2px solid black; */
}
.nav-content-box > .nav-list > li > a {
  text-decoration: none;
  font-size: 16px;
  color: #2a303b;
  font-weight: 500;
  padding: 0 23px;
  line-height: 39px;
}

.nav-content-box > .nav-list > li > a:hover {
  color: #6c757da0;
  font-weight: 500;
  transition-duration: 500ms;
}

/*! -----------------------------nav-list Pages */
.page-list {
  position: relative;
}
.page-list > a > .fa {
  position: relative;
  top: 1px;
  font-size: 18px;
  color: #6c757da0;
}
.page-list-inner {
  transition: all 300ms cubic-bezier(0.5, 0, 0, 1.25);
  transform: scale(1) translateY(20px);
  transform-origin: 50% -25%;
  opacity: 0;
  visibility: hidden;
}
.page-list:hover .page-list-inner {
  opacity: 1;
  visibility: visible;
  transform: scale(1) translateY(0px);
}
.page-list > .page-list-inner > li,
.Dropdown > .dropdown-list > li {
  height: 39px;
  background: #fff;
}
.page-list > .page-list-inner > li:last-child,
.Dropdown > .dropdown-list > li:last-child {
  border-radius: 0 0 6px 6px;
  /* height: 200px; */
  background: none;
}
.page-list > .page-list-inner,
.Dropdown > .dropdown-list {
  position: absolute;
  top: 100%;
  left: 0;
  list-style-type: none;
  background: #ffffff;
  color: #2a303b;
  width: 210px;
  box-shadow: 0 2px 40px 8px rgb(15 15 15 / 15%);
  border-radius: 6px;
  z-index: 100;
  /* height: 320px; */
  padding-top: 10px;
}
.page-list-inner > li > a,
.dropdown-list > li > a {
  text-decoration: none;
  font-size: 14px;
  color: #2a303b;
  font-weight: 500;
  padding: 0 23px;
  line-height: 39px;
  transition-duration: 300ms;
}
.page-list-inner > li:hover > a {
  color: #1cc3b2;
  transition-duration: 500ms;
  transition-timing-function: ease-in-out;
}
/*? ---------------------------------Dropdown list */
.Dropdown {
  position: relative;
  margin-bottom: 5px;
}
.Dropdown > a > .fa {
  position: absolute;
  right: 15px;
  top: 10px;
  font-size: 18px;
  color: #6c757da0;
}
.Dropdown > .dropdown-list {
  height: 160px;
  transition: all 300ms cubic-bezier(0.5, 0, 0, 1.25), opacity 0.15s ease-out;
  transform: scale(1) translateY(30px);
  transform-origin: 50% -25%;
  top: -0.75rem;
  left: 87%;
  opacity: 0;
  visibility: hidden;
}
.Dropdown:hover .dropdown-list {
  opacity: 1;
  visibility: visible;
  transform: scale(1) translateY(0);
}
.Dropdown:hover .dropdown-list {
  transform: scale(1) translateY(0);
  opacity: 1;
  visibility: visible;
}
.dropdown-list li:hover > a {
  color: #1cc3b2;
  transition-duration: 500ms;
}
/*? -----------------------------nav-search-icon */

.nav-search-icon {
  margin-left: 30px;
  cursor: pointer;
}
.nav-search-icon > i:hover {
  color: #1cc3b2;
  transition-duration: 500ms;
}
/*? -----------------------------nav-Book Now Button */
.nav-book-btn {
  margin-left: 48px;
}
.nav-book-btn > a {
  padding: 30px;
  padding-top: 28.5px;
  background-color: #1cc3b2;
  font-weight: 500;
  /* height: 80px; */
  /* line-height: 80px; */
  color: #ffffff;
  font-size: 16px;
  text-decoration: none;
}
.nav-book-btn > a > i {
  padding-left: 5px;
}
/* ---------hover */
.nav-book-btn > a:hover {
  background: #2a303b;
  transition-duration: 500ms;
}
/*? -----------------------------nav-Book Now Button */
