@media screen and (max-width: 1200px) {
  .container {
    max-width: 960px;
  }
  .header_content > h2{
     text-align: center;
      font-size: 36px;
  }
  .post-title {
    font-size: 16px;
  }
  .recent-post {
    margin-bottom: 15px;
  }
  .recent-post_thumbh {
    flex: 0 0 80px;
    max-width: 80px;
    width: 80px;
  }
  .recent-post-title {
    font-size: 13px;
  }
}

@media screen and (max-width: 992px) {
  .container {
    max-width: 720px;
  }
  .header_content > h2 {
    font-size: 36px;
  }
  .blog-section {
    flex-direction: column;
    align-items: center;
  }
  .blog-section__col-1 {
    flex: 0 0 100%;
    max-width: 100%;
    width: 100%;
  }
  .blog-section__col-2 {
    flex: 0 0 50%;
    max-width: 50%;
    width: 50%;
  }
  .blog-section__col-2 {
    padding-left: 0;
  }
  .col-2__inner {
    padding-left: 0;
  }
}
@media screen and (max-width: 768px) {
  .container {
    max-width: 540px;
  }
  .header_content > h2{
    text-align: center;
     font-size: 24px;
 }
  .blog-section__col-2 {
    padding-left: 0;
  }
  .col-2__inner {
    padding-left: 0;
  }
  .post-title {
    font-size: 20px;
  }
  .recent-post {
    margin-bottom: 30px;
  }
  .blog-section__col-2 {
    flex: 0 0 66.66%;
    max-width: 66.66%;
    width: 66.66%;
  }
  .recent-post_thumbh {
    flex: 0 0 110px;
    max-width: 110px;
    width: 110px;
  }
  .recent-post-title {
    font-size: 16px;
  }
  .comment-author {
    flex: 0 0 50px;
    width: 50px;
    max-width: 50px;
  }
  .comment-section > h2 {
    font-size: 24px;
  }
  .comment-meta h5 {
    font-size: 16px;
  }
  .comment-meta p {
    font-size: 14px;
  }
}
@media screen and (max-width: 576px) {
  .header_content > h2 {
    font-size: 24px;
  }
  .blog-section__col-1 {
    padding-right: 0;
  }
  .blog-section__col-2 {
    flex: 0 0 100%;
    max-width: 100%;
    width: 100%;
  }
}
