@media screen and (max-width: 1200px) {
    .column{
        max-width: 960px;
    }
}
 @media screen and (max-width: 992px) {
   .column {
  /* grid-column: ; */
  max-width: 760px;
  } 
  .content{
      grid-column: 1/ span 3;
  }
  .form{
    margin-top: 100px;
    
  grid-column: 1 / span 3;
  }
}  
@media screen and (max-width: 768px) {
    .column {
        max-width: 540px;
        } 
        img{
            grid-column: 1/span 2;
            margin-bottom: 30px;
        }
        .Room-details{
            grid-column: 1/span 2;
            padding-left: 0;
        }
        .Room-details h2{
            font-size: 24px;
        }
        
}
/* @media screen and (max-width: 576px) {
    .column{
        max-width: 540px;
    }
}  */
